img.bg {
    z-index: -999;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
* {
    color: white;
}

body {
    width: 700px;
    height: 500px;
}

button {
    color: black;
}